* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.board {
    width: 637px;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(13, 1fr);
}

.square {
    border: 1px solid black;
    background-color: white;
    font-weight: 700;
    font-size: 32px
}

.square:disabled {
    color: black
}

.square:disabled:active {
    background-color: white;
}

.square:active {
    background-color: darkgray
}

.left {
    border-left: 0;
}

.right {
    border-right: 0;
}

.top {
    border-top: 0;
}

.bottom {
    border-bottom: 0;
}

.end {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.9)
}

.kill-screen {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 40rem;
    height: 20rem;
    border: 10px solid black;
    background-color: rgba(255, 255, 255, 0.8)
}

.kill-screen h1 {
    font-family: monospace;
    font-size: 5rem;
    margin-bottom: 1rem;
}

.kill-screen button {
    padding: .4em .8em;
    font-size: 40px;
}